<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOVE</title>
  </head>
  <body>
    <h1>AMAAAAAAAAAR</h1>

    <p><h2>## Preguntas de reflexión técnica</h2>

    <br>1.¿Qué cambia en la plantilla cuando los datos llegan desde `app.py` en lugar de estar escritos directamente en el HTML?
    <br>Cambia que la información ya no queda fija en el HTML, sino que llega desde app.py y puede cambiar automáticamente.
    </p>

    <p>2.¿Qué ventaja tiene separar la lógica en Python de la presentación en la plantilla?
    <br>La ventaja es que el código queda más organizado. Python maneja la lógica y el HTML solo muestra la información.
    </p>

    <p>3.¿Qué pasa si una variable no se envía desde `render_template`, pero se intenta mostrar en `index.html`?
    <br>Si una variable no se envía desde render_template, normalmente no aparecerá nada o puede salir un error en la página.
    </p>


    </body>
</html>